<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>AYAlfredCommonTextOperations</string>
    <key>category</key>
    <string/>
    <key>connections</key>
    <dict>
      <key>01E8FA9E-7C13-4649-9764-BD9937CBC8FD</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C9A92AA5-FBBE-4E7B-9C65-495BE004031D</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>1F3937D0-AA3C-4B9D-B68E-1F9706FD079B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>01E8FA9E-7C13-4649-9764-BD9937CBC8FD</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>DF2E0104-9F43-4880-A4C3-2B70443D1785</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>846F617A-E911-45B6-B372-7A6AAF7DBC4F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>33BCCFD1-7504-4D57-AB0C-C7F54897EE2F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>323EB9DC-6E95-4987-BE91-7C00CE92E95B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>35A9B1FD-8AEE-4413-BCA2-042FACF172BF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>33BCCFD1-7504-4D57-AB0C-C7F54897EE2F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>323EB9DC-6E95-4987-BE91-7C00CE92E95B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>64A08F82-058D-4504-918A-E90ABA45C8DF</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>1F3937D0-AA3C-4B9D-B68E-1F9706FD079B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C89C3774-C99B-46DF-B210-2240417A8648</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>846F617A-E911-45B6-B372-7A6AAF7DBC4F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>8EF83AA4-DCD4-4082-8BF6-162C7DC8A0A5</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>CDAB4453-47A6-4A37-8E9E-B4338305D92C</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>8B45B9D0-1A17-4C9E-8E54-D1741BCC0665</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>64A08F82-058D-4504-918A-E90ABA45C8DF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>8EF83AA4-DCD4-4082-8BF6-162C7DC8A0A5</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C9EF5523-BE2B-456C-A46B-C3158FF23F2E</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>97966FAA-00D3-454C-A71D-6E92DB9725AC</key>
      <array/>
      <key>AE800EF6-AD23-48AF-976D-2DF02B3360A9</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C89C3774-C99B-46DF-B210-2240417A8648</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>C89C3774-C99B-46DF-B210-2240417A8648</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>C9A92AA5-FBBE-4E7B-9C65-495BE004031D</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>97966FAA-00D3-454C-A71D-6E92DB9725AC</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>CDAB4453-47A6-4A37-8E9E-B4338305D92C</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>8B45B9D0-1A17-4C9E-8E54-D1741BCC0665</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>AY</string>
    <key>description</key>
    <string>处理文本</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>通用文本处理</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>/opt/homebrew/anaconda3/bin/python query.py --action "{query}"</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>64A08F82-058D-4504-918A-E90ABA45C8DF</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsfiles</key>
          <false/>
          <key>acceptsmulti</key>
          <integer>0</integer>
          <key>acceptstext</key>
          <true/>
          <key>acceptsurls</key>
          <false/>
          <key>name</key>
          <string>通用文本处理</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.universalaction</string>
        <key>uid</key>
        <string>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>/opt/homebrew/anaconda3/bin/python main.py</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>CDAB4453-47A6-4A37-8E9E-B4338305D92C</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>/usr/bin/python3 latex.py --action {query}</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>C9A92AA5-FBBE-4E7B-9C65-495BE004031D</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>97966FAA-00D3-454C-A71D-6E92DB9725AC</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>选择你的操作</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>text</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string>{var:action}</string>
          <key>matchcasesensitive</key>
          <true/>
          <key>matchmode</key>
          <integer>0</integer>
          <key>matchstring</key>
          <string>latex</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>01E8FA9E-7C13-4649-9764-BD9937CBC8FD</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.transform</string>
        <key>uid</key>
        <string>C89C3774-C99B-46DF-B210-2240417A8648</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string>为节点加引号
        cleaned_text = re.sub(r'(\[)([^\["\"]]+)(\])', r'[""\2""]', text)
{var:action}</string>
          <key>matchcasesensitive</key>
          <true/>
          <key>matchmode</key>
          <integer>0</integer>
          <key>matchstring</key>
          <string>Obsidian</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>DF2E0104-9F43-4880-A4C3-2B70443D1785</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>'{query}', {variables}</string>
          <key>cleardebuggertext</key>
          <false/>
          <key>processoutputs</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.debug</string>
        <key>uid</key>
        <string>1F3937D0-AA3C-4B9D-B68E-1F9706FD079B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>action</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>8B45B9D0-1A17-4C9E-8E54-D1741BCC0665</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>/usr/bin/python3 utils/mermaid.py --action {query}</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>8EF83AA4-DCD4-4082-8BF6-162C7DC8A0A5</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>C9EF5523-BE2B-456C-A46B-C3158FF23F2E</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>action</key>
          <integer>0</integer>
          <key>argument</key>
          <integer>0</integer>
          <key>focusedappvariable</key>
          <false/>
          <key>focusedappvariablename</key>
          <string/>
          <key>hotkey</key>
          <integer>49</integer>
          <key>hotmod</key>
          <integer>1966080</integer>
          <key>hotstring</key>
          <string>Space</string>
          <key>leftcursor</key>
          <false/>
          <key>modsmode</key>
          <integer>0</integer>
          <key>relatedAppsMode</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.hotkey</string>
        <key>uid</key>
        <string>AE800EF6-AD23-48AF-976D-2DF02B3360A9</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string>{var:action}</string>
          <key>matchcasesensitive</key>
          <false/>
          <key>matchmode</key>
          <integer>0</integer>
          <key>matchstring</key>
          <string>mermaid</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>846F617A-E911-45B6-B372-7A6AAF7DBC4F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>35A9B1FD-8AEE-4413-BCA2-042FACF172BF</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>/usr/bin/python3 utils/markdown.py --action {query}</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>5</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>323EB9DC-6E95-4987-BE91-7C00CE92E95B</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>inputstring</key>
          <string>{var:action}</string>
          <key>matchcasesensitive</key>
          <true/>
          <key>matchmode</key>
          <integer>0</integer>
          <key>matchstring</key>
          <string>markdown</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.filter</string>
        <key>uid</key>
        <string>33BCCFD1-7504-4D57-AB0C-C7F54897EE2F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>Universal Actions let you take any text, URLs or files and perform actions on them from anywhere on your Mac.

This workflow shares various ways of using Universal Actions:

1. The "Trim text" action will appear in your Actions panel for text-based selections. Choosing it will trim white spaces at the beginning and end of the text you copied. Holding ⌘ (Cmd) while pressing return will take the alternative path, where your text will be uppercased.

In both cases, you then return to Alfred's Actions panel with your newly transformed text.

2. Hotkeys are stripped on import, to ensure that they don't clash with your existing hotkeys, so double-click the object and set your own hotkey. 

Using this hotkey will bring up the Action panel, pre-populated with your clipboard contents.

3. Add Universal Actions as an Alfred Fallback Search result.</string>
    <key>uidata</key>
    <dict>
      <key>01E8FA9E-7C13-4649-9764-BD9937CBC8FD</key>
      <dict>
        <key>note</key>
        <string>Latex相关</string>
        <key>xpos</key>
        <integer>850</integer>
        <key>ypos</key>
        <integer>105</integer>
      </dict>
      <key>1F3937D0-AA3C-4B9D-B68E-1F9706FD079B</key>
      <dict>
        <key>xpos</key>
        <integer>765</integer>
        <key>ypos</key>
        <integer>245</integer>
      </dict>
      <key>323EB9DC-6E95-4987-BE91-7C00CE92E95B</key>
      <dict>
        <key>xpos</key>
        <integer>975</integer>
        <key>ypos</key>
        <integer>450</integer>
      </dict>
      <key>33BCCFD1-7504-4D57-AB0C-C7F54897EE2F</key>
      <dict>
        <key>note</key>
        <string>markdown相关</string>
        <key>xpos</key>
        <integer>855</integer>
        <key>ypos</key>
        <integer>480</integer>
      </dict>
      <key>35A9B1FD-8AEE-4413-BCA2-042FACF172BF</key>
      <dict>
        <key>xpos</key>
        <integer>1155</integer>
        <key>ypos</key>
        <integer>450</integer>
      </dict>
      <key>64A08F82-058D-4504-918A-E90ABA45C8DF</key>
      <dict>
        <key>xpos</key>
        <integer>630</integer>
        <key>ypos</key>
        <integer>50</integer>
      </dict>
      <key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
      <dict>
        <key>note</key>
        <string>Don't forget to hint to Alfred not to close in the connection config</string>
        <key>xpos</key>
        <integer>30</integer>
        <key>ypos</key>
        <integer>75</integer>
      </dict>
      <key>846F617A-E911-45B6-B372-7A6AAF7DBC4F</key>
      <dict>
        <key>xpos</key>
        <integer>875</integer>
        <key>ypos</key>
        <integer>340</integer>
      </dict>
      <key>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</key>
      <dict>
        <key>xpos</key>
        <integer>340</integer>
        <key>ypos</key>
        <integer>105</integer>
      </dict>
      <key>8B45B9D0-1A17-4C9E-8E54-D1741BCC0665</key>
      <dict>
        <key>xpos</key>
        <integer>550</integer>
        <key>ypos</key>
        <integer>250</integer>
      </dict>
      <key>8EF83AA4-DCD4-4082-8BF6-162C7DC8A0A5</key>
      <dict>
        <key>xpos</key>
        <integer>960</integer>
        <key>ypos</key>
        <integer>320</integer>
      </dict>
      <key>97966FAA-00D3-454C-A71D-6E92DB9725AC</key>
      <dict>
        <key>xpos</key>
        <integer>1150</integer>
        <key>ypos</key>
        <integer>75</integer>
      </dict>
      <key>AE800EF6-AD23-48AF-976D-2DF02B3360A9</key>
      <dict>
        <key>xpos</key>
        <integer>65</integer>
        <key>ypos</key>
        <integer>325</integer>
      </dict>
      <key>C89C3774-C99B-46DF-B210-2240417A8648</key>
      <dict>
        <key>note</key>
        <string>去掉首尾空格</string>
        <key>xpos</key>
        <integer>240</integer>
        <key>ypos</key>
        <integer>105</integer>
      </dict>
      <key>C9A92AA5-FBBE-4E7B-9C65-495BE004031D</key>
      <dict>
        <key>xpos</key>
        <integer>970</integer>
        <key>ypos</key>
        <integer>75</integer>
      </dict>
      <key>C9EF5523-BE2B-456C-A46B-C3158FF23F2E</key>
      <dict>
        <key>xpos</key>
        <integer>1125</integer>
        <key>ypos</key>
        <integer>320</integer>
      </dict>
      <key>CDAB4453-47A6-4A37-8E9E-B4338305D92C</key>
      <dict>
        <key>note</key>
        <string>设置要转换的格式</string>
        <key>xpos</key>
        <integer>420</integer>
        <key>ypos</key>
        <integer>75</integer>
      </dict>
      <key>DF2E0104-9F43-4880-A4C3-2B70443D1785</key>
      <dict>
        <key>note</key>
        <string>Obsidian相关</string>
        <key>xpos</key>
        <integer>910</integer>
        <key>ypos</key>
        <integer>215</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>variablesdontexport</key>
    <array/>
    <key>version</key>
    <string>1.1</string>
    <key>webaddress</key>
    <string>https://www.alfredapp.com</string>
  </dict>
</plist>