<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>zzkkyysAlfredCommonTextOperations</string>
    <key>category</key>
    <string>ay</string>
    <key>connections</key>
    <dict>
      <key>1839EA9E-DCDF-43DD-B9C5-6AD9F5AC2637</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>F83852C4-587B-4CB9-87F1-75C45029883F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>35E4A654-87AD-4064-8F62-E4EE478F7DE1</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>64F728B2-E911-47C7-9927-56959D4C0BD1</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>43208FE1-F127-45BC-953B-AB442DF64F2A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>CDAB4453-47A6-4A37-8E9E-B4338305D92C</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>5927F86E-4572-4871-8872-460D5B6924B2</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>64A08F82-058D-4504-918A-E90ABA45C8DF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>64A08F82-058D-4504-918A-E90ABA45C8DF</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>7F62AC93-160C-48C8-BE04-24E1EC97C1B9</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>64F728B2-E911-47C7-9927-56959D4C0BD1</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>45B88002-8A0B-4D75-B58B-1B550EB3F72B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>7B277D30-3F66-42FF-9AA6-C8E06EE7641F</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>64A08F82-058D-4504-918A-E90ABA45C8DF</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>7F62AC93-160C-48C8-BE04-24E1EC97C1B9</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>1839EA9E-DCDF-43DD-B9C5-6AD9F5AC2637</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>CDAB4453-47A6-4A37-8E9E-B4338305D92C</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>CDAB4453-47A6-4A37-8E9E-B4338305D92C</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>7B277D30-3F66-42FF-9AA6-C8E06EE7641F</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>5927F86E-4572-4871-8872-460D5B6924B2</string>
          <key>modifiers</key>
          <integer>131072</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>zzkkyys</string>
    <key>description</key>
    <string>use python to process texts</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Common Text Operations</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>availableviaurlhandler</key>
          <false/>
          <key>triggerid</key>
          <string>reopen_workflow</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.external</string>
        <key>uid</key>
        <string>43208FE1-F127-45BC-953B-AB442DF64F2A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <true/>
          <key>variables</key>
          <dict>
            <key>loop</key>
            <string>false</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>7B277D30-3F66-42FF-9AA6-C8E06EE7641F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>#!/bin/bash

# Get the PYTHON_PATHS variable from Alfred
IFS=':' read -r -a paths &lt;&lt;&lt; $python_paths

# Check each path and find the first valid one
for path in "${paths[@]}"; do
    if [ -x "$path" ]; then
        # Run the Python script with the valid path
        "$path" main.py --action "{query}"
        exit 0
    fi
done

# If no valid Python path is found, print an error and exit
echo "Error: No valid Python path found in $python_paths." &gt;&amp;2
exit 1</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>64A08F82-058D-4504-918A-E90ABA45C8DF</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>externaltriggerid</key>
          <string>reopen_workflow</string>
          <key>passinputasargument</key>
          <false/>
          <key>passvariables</key>
          <true/>
          <key>workflowbundleid</key>
          <string>self</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.callexternaltrigger</string>
        <key>uid</key>
        <string>F83852C4-587B-4CB9-87F1-75C45029883F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <false/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>0</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>0</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string/>
          <key>script</key>
          <string>
#!/bin/bash

# Get the PYTHON_PATHS variable from Alfred
IFS=':' read -r -a paths &lt;&lt;&lt; $python_paths

# Check each path and find the first valid one
for path in "${paths[@]}"; do
    if [ -x "$path" ]; then
        # Run the Python script with the valid path
        "$path"  main.py
        exit 0
    fi
done

# If no valid Python path is found, print an error and exit
echo "Error: No valid Python path found in python_paths." &gt;&amp;2
exit 1

</string>
          <key>scriptargtype</key>
          <integer>0</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>CDAB4453-47A6-4A37-8E9E-B4338305D92C</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string>{var:loop}</string>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>true</string>
              <key>outputlabel</key>
              <string/>
              <key>uid</key>
              <string>35E4A654-87AD-4064-8F62-E4EE478F7DE1</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>else</string>
          <key>hideelse</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>1839EA9E-DCDF-43DD-B9C5-6AD9F5AC2637</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <true/>
          <key>variables</key>
          <dict>
            <key>loop</key>
            <string>true</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>5927F86E-4572-4871-8872-460D5B6924B2</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsfiles</key>
          <false/>
          <key>acceptsmulti</key>
          <integer>0</integer>
          <key>acceptstext</key>
          <true/>
          <key>acceptsurls</key>
          <false/>
          <key>name</key>
          <string>Common Text Operations</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.universalaction</string>
        <key>uid</key>
        <string>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>select action</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>text</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>text</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>7F62AC93-160C-48C8-BE04-24E1EC97C1B9</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string>{var:text}</string>
          <key>title</key>
          <string>Common Text Operations</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>45B88002-8A0B-4D75-B58B-1B550EB3F72B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtextrtf</key>
          <string>{\rtf1\ansi\ansicpg936\cocoartf2822
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0\c84706\cname controlTextColor;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs26 \cf2 \{var:text\}}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>64F728B2-E911-47C7-9927-56959D4C0BD1</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
    </array>
    <key>readme</key>
    <string># Alfred 通用文本处理 Workflow

一个功能丰富的Alfred workflow，用于处理各种文本转换和格式化操作。

如果安装了[alfred-extra-pane](https://github.com/mr-pennyworth/alfred-extra-pane?tab=readme-ov-file)，那么可以预览处理结果。

！！请设置python_paths



## 1. 功能特性

### 🔤 基础文本处理
- **括号转换 (EN-CN)**: 将英文括号 `()` 转换为中文括号 `（）`
- **格式化千分数字**: 为数字添加千位分隔符，如 `1932131` → `1,932,131`
- **大写英文首字母**: 将每个单词的首字母大写

### 📝 LaTeX 相关
- **移除LaTeX粗体命令**: 将 `\textbf{text}` 转换为 `text`
- **去除引用**: 处理LaTeX中的引用命令
- **转义百分号**: 将数字后的 `%` 转换为 `\%`

### 📊 Mermaid 相关
- **为节点加引号**: 在Mermaid图表中为节点文字添加引号

### 📄 Markdown 相关
- **替换数学公式指示符**: 将 `\[ \]` 替换为 `$$`

## 2. 安装方法

1. 下载 `.alfredworkflow` 文件
2. 双击文件安装到Alfred
3. 确保`Environment Variables`中设置了正确的`PYTHON_PATHS`，多种python路径可以使用冒号`:`连接。



## 3. 功能详解

### 括号转换 (EN-CN)
将文本中的英文括号转换为中文括号，适用于中文文档排版。

**示例:**
```
输入: This is a (test) example
输出: This is a （test） example
```

### 格式化千分数字
为数字添加千位分隔符，提高大数字的可读性。

**示例:**
```
输入: 1932131
输出: 1,932,131

输入: 1234567.89
输出: 1,234,567.89
```

### 移除LaTeX粗体命令
移除LaTeX文档中的 `\textbf{}` 命令，保留其中的文本内容。

**示例:**
```
输入: \textbf{hello world}
输出: hello world

输入: This is \textbf{bold text} in a sentence.
输出: This is bold text in a sentence.

输入: \textbf{text with {nested} braces}
输出: text with {nested} braces
```

### Mermaid节点加引号
为Mermaid图表中的节点文字添加引号，提高可读性。

**示例:**
```
输入: [节点名称]
输出: ["节点名称"]
```

### Markdown数学公式处理
替换Markdown中的数学公式指示符。

**示例:**
```
输入: \[ E = mc^2 \]
输出: $$ E = mc^2 $$
```

### LaTeX百分号转义
将LaTeX文本中数字后面的百分号自动转义，避免编译错误。

**示例:**
```
输入: The accuracy is 95%
输出: The accuracy is 95\%

输入: Values: 80%, 90%, 95%
输出: Values: 80\%, 90\%, 95\%
```


## 贡献

欢迎提交Issue和Pull Request来改进这个workflow！

## 许可证

MIT License
</string>
    <key>uidata</key>
    <dict>
      <key>1839EA9E-DCDF-43DD-B9C5-6AD9F5AC2637</key>
      <dict>
        <key>xpos</key>
        <integer>1125</integer>
        <key>ypos</key>
        <integer>235</integer>
      </dict>
      <key>43208FE1-F127-45BC-953B-AB442DF64F2A</key>
      <dict>
        <key>xpos</key>
        <integer>120</integer>
        <key>ypos</key>
        <integer>80</integer>
      </dict>
      <key>45B88002-8A0B-4D75-B58B-1B550EB3F72B</key>
      <dict>
        <key>xpos</key>
        <integer>1460</integer>
        <key>ypos</key>
        <integer>410</integer>
      </dict>
      <key>5927F86E-4572-4871-8872-460D5B6924B2</key>
      <dict>
        <key>xpos</key>
        <integer>745</integer>
        <key>ypos</key>
        <integer>325</integer>
      </dict>
      <key>64A08F82-058D-4504-918A-E90ABA45C8DF</key>
      <dict>
        <key>note</key>
        <string>apple action to text</string>
        <key>xpos</key>
        <integer>880</integer>
        <key>ypos</key>
        <integer>195</integer>
      </dict>
      <key>64F728B2-E911-47C7-9927-56959D4C0BD1</key>
      <dict>
        <key>xpos</key>
        <integer>1300</integer>
        <key>ypos</key>
        <integer>410</integer>
      </dict>
      <key>7B277D30-3F66-42FF-9AA6-C8E06EE7641F</key>
      <dict>
        <key>xpos</key>
        <integer>740</integer>
        <key>ypos</key>
        <integer>185</integer>
      </dict>
      <key>7C7F0602-B9F2-4FFA-870C-CEA945590CF4</key>
      <dict>
        <key>xpos</key>
        <integer>95</integer>
        <key>ypos</key>
        <integer>330</integer>
      </dict>
      <key>7F62AC93-160C-48C8-BE04-24E1EC97C1B9</key>
      <dict>
        <key>note</key>
        <string>save text to environment variable `text`</string>
        <key>xpos</key>
        <integer>1005</integer>
        <key>ypos</key>
        <integer>375</integer>
      </dict>
      <key>88622D5C-7156-4DD7-BFF5-CBC9E89BBD9A</key>
      <dict>
        <key>note</key>
        <string>save text to environment variable `text`</string>
        <key>xpos</key>
        <integer>370</integer>
        <key>ypos</key>
        <integer>360</integer>
      </dict>
      <key>CDAB4453-47A6-4A37-8E9E-B4338305D92C</key>
      <dict>
        <key>note</key>
        <string>select wanted text processing operation</string>
        <key>xpos</key>
        <integer>545</integer>
        <key>ypos</key>
        <integer>205</integer>
      </dict>
      <key>F83852C4-587B-4CB9-87F1-75C45029883F</key>
      <dict>
        <key>xpos</key>
        <integer>1315</integer>
        <key>ypos</key>
        <integer>200</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string>/usr/local/python3</string>
          <key>placeholder</key>
          <string/>
          <key>required</key>
          <true/>
          <key>trim</key>
          <true/>
        </dict>
        <key>description</key>
        <string>python path to run python scripts</string>
        <key>label</key>
        <string>python paths</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>python_paths</string>
      </dict>
    </array>
    <key>variables</key>
    <dict>
      <key>PYTHON_PATHS</key>
      <string>/usr/loca/python3:/Volumes/GEIL2T/Softwares/anaconda3/bin/python</string>
    </dict>
    <key>version</key>
    <string>1.30</string>
    <key>webaddress</key>
    <string>https://github.com/zzkkyys/My-Alfred-common-text-operations</string>
  </dict>
</plist>